<template>
  <div id="app">
   <h3 id="title">WEATHER API</h3>
    <a id="history" class="waves-effect waves-light btn-small">History</a>
    <div class="row">
      <form id="form">
        <div class="row">
          <md-field>
            <label style="font-size:25px;color:#7a7a52;font-weight:bold;padding-bottom:15px !important">Search</label>
            <md-input v-model="search" id="input"></md-input>
          </md-field>
          <md-button  class="md-raised md-primary " @click="getWeatherInfo">Search</md-button>
        </div>
      </form>

      <ul>
        <li v-for="city in cities" :key="city">{{city}}</li>
      </ul>
    </div>

    <div class="weather-wrap" v-if="Object.keys(weatherData).length !== 0">
      <div class="weather-box">
        <div class="temp">{{ weatherData.main.temp }}</div>
        <div class="weather">{{ weatherData.weather[0].main }}</div>
      </div>
    </div>

    <div class="location-box" v-if="Object.keys(weatherData).length !== 0">
      <div class="location">{{ weatherData.sys.country }} -- {{ weatherData.name }}</div>
    </div>
  </div>
</template>

<script>
import cities from "./cities";

export default {
  name: "app",
  data() {
    return {
      api_key: "21930dd79b52e5d3f3e35fa3e91391d7",
      search: "",
      weatherData: {},
      cities,
      filteredCities: [],
      reGex: undefined
    };
  },
  watch: {
    search(newValue) {
      this.reGex = `/${newValue}/`;
    }
  },
  methods: {
    async getWeatherInfo() {
      if (this.search) {
        const url = `https://api.openweathermap.org/data/2.5/weather?units=metric&q=${this.search}&appid=${this.api_key}`;

        try {
          const response = await this.axios.get(url);
          this.weatherData = response.data;
        } catch (err) {
          alert(err);
        }
      }
    }
  }
};
</script>

<style>
ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  list-style-type: none;
  color: brown;
  font-size: 25px;
  line-height: 2;
}

#form {
  display: block !important;
  margin: auto !important;
  width: 20% !important;
  padding-top: 150px;
  text-align: center;
  height: 500px;
}

.location-box .location {
  color: #7a7a52;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.25);
}

.location-box .date {
  color: #7a7a52;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  display: inline-block;
  padding: 10px 25px;
  color: #7a7a52;
  font-size: 42px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  margin: 30px 0px;

  box-shadow: 3px 6px rgba(0, 0, 0, 0.25);
}

.weather-box .weather {
  color: #7a7a52;
  font-size: 48px;
  font-weight: 700;
  font-style: italic;
  text-shadow: 3px 6px rgba(0, 0, 0, 0.25);
}

#app {
  background-image: url("./assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#history {
  position: fixed;
  right: 0;
  top: 20px;
  right: 20px;
}
.weather
{
  margin-bottom: 40px;
}
.location 
{
  padding-bottom: 40px;
}
.md-raised

{
  width: 150px;
  border: none;
  cursor: pointer;
  background-color: #7a7a52 !important;
  color: #ffffff;

}
#input 
{
  background: transparent;
  width: 200px;
  color:white;
  margin-top: 25px;
  border-radius: 5px;
  padding-left: 15px;
}
#title
{
  text-align: center;
  font-size: 30px;
  padding-top: 15px;
}
</style>
